.mainContainer{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  border-end-start-radius: 50px;
  border-end-end-radius: 50px;
  height: 50vh;
  background-size: 100% 310%;
}
.temp{
  height: 40px;
  font-size: 50px;
  text-shadow: 2px 4px 2px #5b5b5b;
}
.location{
  font-size: 20px;
  text-shadow: 2px 2px 2px #5b5b5b;
}
